<div id="voteButtons">
    <% (1..4).each do |x| %>
    <div id="vote<%= x %>" class="voteButton" data-govid="<%= @government.country_code %>">
      <%= image_tag("#{x}.svg", :alt => "") %>
    </div>
    <% end %>
  </div>
  <div id="results">

  <%= render "votes" %>
  </div>

  
  