<div id="countrycontent">
  <%= render "country" %>
</div>



<div id='charitybit'>
  We encourage people rating from the UK to support <a href="https://www.trusselltrust.org/make-a-donation/">The Trussell Trust</a> at this fairly appalling time.
</div>

<br>
<br>
  
  <div id='bottombit' style="text-align: center;">Idea by <a href="https://twitter.com/steishere">Ste</a> • Built by <a href="https://twitter.com/edjeff">Ed</a><br>
and the <a href="https://discord.gg/RMPsZHYv3e">Maraoke Rapid Response Team</a><br><br>
Icons based on <a href="https://www.flaticon.com/authors/smartline" title="Smartline">Smartline</a> from <a  href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>. Flags by <a href="https://flagicons.lipis.dev/">Lipis</a>.</div>

  