<div id="voteButtons">
  <div id="vote1" class="voteButton">1</div>
  <div id="vote2" class="voteButton">2</div>
  <div id="vote3" class="voteButton">3</div>
  <div id="vote4" class="voteButton">4</div>
  <div id="vote5" class="voteButton">5</div>
</div>

<div id="results">
<%= render "votes" %>
</div>