// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("//fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
:root {
  --background: black;
  --foreground: white; 
}

body {
   font-family:'Lato',sans-serif;
   display: grid;
   grid-template-columns: 1fr minmax(50%, 800px) 1fr;
   grid-template-rows: 0.25fr minmax(80px, auto) auto 0.5fr;
   gap: 0px 0px;
   grid-template-areas:
      ". Gov ." ". Buttons ." ". Results ." ". . .";
  background: var(--background);
  color: var(--foreground); 
}

body> h1 {grid-area: Gov;
align-self: end;
}

div#votes {
    display: inline-block;
}
#votes img {
height: 75px;}

#votes > span {
  display: list-item;
  list-style: none;
}

#voteButtons {
 grid-area: Buttons;
 border: var(--foreground) solid 10px;
 border-bottom: none;
}

.voteButton {
 width:25%;
 float:left;
}
.voteButton img {
 width: auto; padding: 5%;
  max-height: 200px;
}


#results {
 float: left;
 grid-area: Results;
 padding: 20px;
 border: var(--foreground) solid 10px;
}


.result {
    display: flex;
    padding: 7% 0px;
}