// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url("//fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
:root {
  --background: white;
  --foreground: black; 
}

body {
  font-family:'Lato',sans-serif;

}
#countrycontent {
   display: grid;
   grid-template-columns: 1fr minmax(50%, 800px) 1fr;
   grid-template-rows: 0.25fr minmax(80px, auto) auto 0.5fr;
   gap: 0px 0px;
   grid-template-areas:
      ". Gov ." ". Buttons ." ". Results ." ". . .";
  background: var(--background);
  color: var(--foreground); 
}


body> h1 {grid-area: Gov;
align-self: end;
text-align: center;
width: 100%;
}

select {
  appearance: none;
  font-family:'Lato',sans-serif;
  font-weight: bold;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none; 
  border: none;
  /* needed for Firefox: */
  overflow:hidden;
  display: inline;
  width: 10%;
}






#voteButtons {
 grid-area: Buttons;
 //border: var(--foreground) solid 10px;
 border-bottom: none;
}

.voteButton, .result {
 width:23%;
 padding-left: 1%;
 padding-right: 1%;
 float:left;
}
.voteButton img {
 width: auto; 
  max-height: 200px;
}


#results {
 float: left;
 grid-area: Results;
 padding-top: 20px;
 padding-bottom: 20px;
 //border: var(--foreground) solid 10px;
 text-align: center;
}


.result {

    text-align: center;
    padding-left: 1%;
}

.voteButton img {
  width:auto;
  max-height:200px;
   position: relative; 
   top: 3%;
 }
 
 .voteButton img:hover {
   transform: scale(1.05);
 }
 
 .voteButton img:active {
 
     transform: scale(.92);
 
 }